Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@barrett75 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


barrett75
/
barrett75.github.io
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
barrett75.github.io/_layouts/default.html
@barrett75
barrett75 Create default.html
Latest commit 6e4779c 2 hours ago
 History
 1 contributor
28 lines (26 sloc)  581 Bytes
  
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      {% include image-gallery.html folder="/_includes/_projectGallery" %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Bwahaha</li>
				</ul>
			</footer>
		</body>
	</html>

